@import "../variables";

.contacts-section {
  padding: 60px 0;
  background-color: #121212;
  color: #ffffff;

  .section-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 40px;
  }

  h3 {
    margin-bottom: 1rem;
  }

  .contact-form {
    margin-bottom: 30px;

    .form-group {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
      }

      input,
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid $color-yellow;
        border-radius: 5px;
        background-color: #121212;
        color: #ffffff;

        &:checked {
          box-shadow: none !important;
        }

        &:focus {
          box-shadow: 0 0 5px $color-yellow;
        }
      }

      input::placeholder,
      textarea::placeholder {
        color: #aaaaaa;
      }
    }

    .btn-yellow {
      margin-top: 20px;
      background-color: $color-yellow;
      color: black;
      width: 100%;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .contact-info {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      .icon {
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;

        color: $color-yellow;
      }
    }
  }

  iframe {
    border-radius: 8px;
  }
}
