@import "../_variables";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: $color-dark;
  transition: background-color 0.3s ease;

  &.scrolled {
    background: darken($color-dark, 10%);
  }

  .container-fluid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 20px;
  }
  .logo {
    width: 260px;
    a {
      display: flex;

      p {
        margin: auto !important;
        line-height: 1.4rem;
      }
    }

    img {
      height: 50px;
    }
  }

  .logo img {
    height: 54px;
    margin-right: 1.1rem;
  }

  .logo a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    color: $color-text-light;
  }

  .call-to-action {
    display: flex;
    align-items: center;
    margin-left: 3rem;

    .phone {
      line-height: 1.2rem;
      text-decoration: none;
      margin-right: 1.1rem;
      font-size: 1.5rem;
      font-weight: bold;
      color: $color-text-light;

      span {
        font-size: 1rem;
        font-weight: normal;
        color: $color-yellow;
      }
    }

    .btn-yellow {
      text-decoration: none;
      background-color: transparent;
      color: $color-yellow;
      padding: 10px 15px;
      border: 3px solid $color-yellow;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.5s ease;

      &:hover {
        transform: translateY(-3px);
      }
    }
  }

  /* Десктопное меню */
  .desktop-menu {
    display: flex;
    align-items: center;

    .dropdown-toggle {
      background: none;
      border: none;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      padding: 0;
      cursor: pointer;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $color-yellow;
      }
    }

    .dropdown {
      &:hover .dropdown-menu {
        opacity: 1; /* Показываем меню */
        transform: translateY(0); /* Возвращаем в исходное положение */
        pointer-events: auto; /* Включаем взаимодействие */
      }
    }

    .dropdown-menu {
      position: absolute;
      top: 99%;
      left: 0;
      background: $color-black;
      border-radius: 10px;
      display: flex;
      flex-direction: column;

      opacity: 0; /* Начальное состояние */
      transform: translateY(-10px); /* Смещение вверх */
      pointer-events: none; /* Отключаем взаимодействие */
      transition: opacity 0.3s ease, transform 0.3s ease;

      li {
        width: 300px;
        &:hover {
          color: $color-yellow;
        }

        a {
          color: $color-text-light;
          text-decoration: none;
        }
      }
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0;

      padding: 0;

      li {
        margin: 0 15px;

        a {
          text-decoration: none;
          font-weight: bold;
          color: $color-text-light;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: $color-yellow;
          }
        }
      }
    }
  }

  /* Гамбургер */
  .hamburger {
    margin-left: auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;

    @media (min-width: 992px) {
      display: none;
    }

    .icon {
      font-size: 2rem; // Увеличиваем размер иконки
      color: $color-yellow; // Цвет иконки
      text-align: center;
    }

    .line {
      height: 3px;
      width: 100%;
      background-color: $color-text-light;
    }
  }

  /* Мобильное меню */
  .mobile-menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: $color-dark;
    padding: 15px;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
    transition: all 0.3s ease;

    &.scrolled {
      background: darken($color-dark, 10%);
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 10px 0;

        a {
          text-decoration: none;
          font-weight: bold;
          color: $color-text-light;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: $color-yellow;
          }
        }
      }
    }

    &.open {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }

    .call-to-action {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 1rem;
      margin-left: 0;

      .phone {
        text-decoration: none;
        font-weight: bold;
        padding-left: 0rem;
        font-size: 1.2rem;
        color: $color-text-light;

        &:hover {
          text-decoration: underline;
        }
      }

      .btn-yellow {
        background-color: transparent;
        border: 3px solid $color-yellow;
        color: $color-yellow;
        border-radius: 5px;
        margin-top: 10px;
      }
    }
  }

  /* Медиа-запросы */
  @media (max-width: 768px) {
    .desktop-menu {
      display: none;
    }

    .hamburger {
      display: flex;
    }

    .call-to-action {
      display: none;
    }
  }

  @media (min-width: 769px) {
    .mobile-menu {
      display: none;
    }
  }
}



/* Адаптивность для маленьких экранов ноутбуков */
@media (min-width: 768px) and (max-width: 1450px) {
  .header .container-fluid {
    padding: 10px 15px;
  }
  .header .logo img {
    height: 50px;
  }
  .header .call-to-action {
    font-size: 1rem;
  }

  .call-to-action {
    display: none !important;
  }
}

/* Адаптивность для планшетов */
@media (max-width: 768px) {
  .header .logo {
    margin-bottom: 10px;
  }
  .header .desktop-menu {
    display: none;
  }
  .header .hamburger {
    display: flex;
  }
  .header .mobile-menu ul li a {
    font-size: 1.1rem;
  }
}

/* Адаптивность для телефонов */
@media (max-width: 576px) {
  .header .container-fluid {
    padding: 10px;
  }
  .header .logo img {
    height: 50px;
  }
  .header .mobile-menu ul li a {
    font-size: 1rem;
  }
  .header .mobile-menu .call-to-action {
    margin-top: 15px;
  }
}
