@import "../_variables";

.map-section {
  background: $color-black; // Чёрный фон
  padding: 40px 20px;
  #map {
    height: 100%;
    width: 100%;
  }

  .text-with-icon {
    display: flex;
    align-items: flex-start;
    gap: 15px; // Расстояние между иконкой и текстом
    margin-bottom: 20px;

    .icon {
      font-size: 6rem;
      color: $color-yellow;
      flex-shrink: 0;
    }

    .text-content {
      max-width: 50%; // Ограничение ширины текста
      h2 {
        font-size: 2.5rem;
        font-weight: bold;
        color: $color-text-light;
        margin-bottom: 10px;
      }

      p {
        font-size: 1.2rem;
        color: $color-text-light;
        line-height: 1.5;
      }
    }
  }

  .map-container {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px; // Закругленные углы контейнера карты

    iframe {
      display: block;
      width: 100%;
      height: 60vh !important;
    }
  }

  // Адаптация для мобильных устройств
  @media (max-width: 768px) {
    .text-with-icon {
      flex-direction: column;
      align-items: flex-start;

      .icon {
        font-size: 2.5rem;
        margin-bottom: 10px;
      }

      .text-content {
        max-width: 100%; // Убрать ограничение ширины текста
        h2 {
          font-size: 1.8rem;
        }

        p {
          font-size: 0.9rem;
        }
      }
    }
  }
}
