.modal-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; // Убедимся, что модальное окно находится выше других элементов
}

.modal {
  background: #fff;
  padding: 20px;
  max-width: 500px;
  width: 90%; // Адаптивная ширина
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 1001; // Убедимся, что содержимое модального окна видно
}

.modal h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #333;
}

.modal input,
.modal textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.modal input:focus,
.modal textarea:focus {
  border-color: #007bff;
}

.modal button {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button.btn-dark {
  background-color: #333;
  color: #fff;
}

.modal button.btn-secondary {
  background-color: #ddd;
  color: #333;
}
