@import "../_variables";

.privacy-policy-page {
  margin-top: 100px;
  padding: 40px 0;

  .page-header {
    h1 {
      color: $color-yellow !important;
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.6;
      color: $color-text-light;
    }
  }

  section {
    margin-bottom: 40px;

    h2 {
      color: $color-yellow !important;
      font-size: 2rem;
      margin-bottom: 20px;
    }

    p,
    li {
      font-size: 1rem;
      line-height: 1.6;
      color: $color-text-light;
    }

    ul {
      list-style-type: disc;
      margin-left: 20px;

      li {
        margin-bottom: 10px;
      }
    }
  }

  .contact-info-section {
    p {
      margin-bottom: 10px;
    }
  }
}
