@import "../_variables";

.repair-section {
  margin-block: 100px;
  background-color: $color-black; // Светло-голубой фон
  padding: 50px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

  .content {
    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      color: $color-yellow;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.6;
      color: $color-text-light;
    }
  }

  .image-container {
    position: relative;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    .repair-image {
      width: 100%;
      height: 400px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .badge {
      position: absolute;
      top: 10px;
      right: 10px;
      background: #007bff;
      color: #fff;
      padding: 10px 20px;
      border-radius: 20px;
      font-size: 14px;
      font-weight: bold;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
  }
}

@media (max-width: 576px) {
  .repair-section {
    padding: 50px 0;

    .content {
      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.6;
        color: $color-text-light;
      }
    }
  }
}
