@import "../_variables";

.video-logging-page {
  margin-top: 100px;
  padding: 40px 0;

  .page-header {
    h1 {
      color: $color-yellow !important;
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }

  .technology-section,
  .advantages-section,
  .application-section,
  .pricing-section {
    margin-bottom: 40px;

    h2 {
      color: $color-yellow !important;
      font-size: 2rem;
      margin-bottom: 20px;
    }

    p {
      font-size: 1rem;
      line-height: 1.6;
      color: $color-text-light;
    }

    ul {
      list-style-type: disc;
      margin-left: 20px;
      color: $color-text-light;

      li {
        margin-bottom: 10px;
        font-size: 1rem;

        strong {
          font-weight: bold;
        }
      }
    }
  }

  .pricing-section {
    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 10px;
        text-align: left;
        border: 1px solid #707070;
        background-color: #121212;
        color: $color-text-light;
      }

      th {
        color: $color-yellow;
        background-color: #121212;
        font-weight: bold;
      }
    }
  }
}
