@import "../_variables";

.video-gallery-section {
  padding: 50px 0;
  background-color: black;

  .section-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: white;
  }

  .video-slide {
    margin-inline: 10px;
    .video-container {
      img {
        width: 100%;
        height: 60vh;
        border-radius: 10px;
        border: none;
      }
      .video-iframe {
        width: 100%;
        height: 60vh;
        border-radius: 10px;
        border: none;
      }

      .button-play-section {
        position: relative;
        width: 100%;
        height: 100%;

        button {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: $color-yellow;
          border: none;
          border-radius: 10px;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: opacity 0.3s ease;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    h3 {
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 10px;
      color: white;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.5;
      color: white;
      margin-bottom: 20px;
    }

    .btn-yellow {
      color: $color-black !important;
      background-color: $color-yellow;
      font-weight: bold;
      font-size: 1.2rem;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@media (max-width: 768px) {
  .video-gallery-section {
    padding: 50px 0;

    .video-slide {
      margin-inline: 10px;
      .video-container {
        img {
          width: 100%;
          height: 25vh;
          border-radius: 10px;
          border: none;
        }
      }

      .video-iframe {
        width: 100%;
        height: 25vh !important;
        border-radius: 10px;
        border: none;
      }

      h3 {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 10px;
        color: white;
      }

      p {
        font-size: 1rem;
        line-height: 1.5;
        color: white;
        margin-bottom: 20px;
      }

      .btn-yellow {
        background-color: $color-yellow;
        font-weight: bold;
        font-size: 1.2rem;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        transition: background 0.3s ease;
      }
    }
  }
}
