@import "../_variables";

.vk-link-container {
  margin-top: 100px;
  background-position-x: -1;
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/Uh_H3NopqrQ.jpg") center/cover no-repeat;

  .vk-image {
    .image-container {
      width: 150px;
      height: 150px;
      border-radius: 10px;
      background-size: cover;
      background-position: center;
    }
  }

  .vk-info {
    margin-left: 20px;

    .vk-title {
      color: $color-yellow;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .vk-subtitle {
      font-size: 1.2rem;
      margin-bottom: 10px;
      color: #ccc;
    }

    .vk-rating {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .vk-stars {
        color: #ffd700;
        margin-right: 10px;
      }

      .vk-reviews {
        font-size: 1rem;
        color: #aaa;
      }
    }

    .vk-button {
      background-color: $color-yellow;
      color: $color-black;
      font-size: 1rem;
      font-weight: bold;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media (max-width: 768px) {
  .vk-image {
    display: none;
  }
}
