@import "../_variables";

.vk-posts-section {
  padding: 50px 0;

  .section-title {
    font-size: 2.5;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: white;
  }

  .posts-container {
    a {
      text-decoration: none !important;
    }
    .main-news {
      display: flex;
      flex-direction: column; /* Устанавливаем направление колонки */
      justify-content: flex-end; /* Текст будет снизу */
      align-items: flex-start; /* Выравнивание текста по левому краю */
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 40vh; /* Укажите желаемую высоту блока */
      border-radius: 10px; /* Закругленные углы */
      overflow: hidden;
      position: relative;

      h3 {
        background-color: black;
        border-radius: 10px;
        padding: 0.5rem;
        font-size: 20px;

        font-weight: bold;
      }
    }

    .other-news {
      display: flex;
      flex-direction: column;

      .news-item {
        border: none !important;
        text-decoration: none;
        background: black;
        border-radius: 10px;

        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        h4 {
          font-size: 16px;
          font-weight: bold;
          color: white;
        }
      }
    }
  }
}
