@import "../_variables";

.why-choose-us-section {
  padding: 50px 20px;

  .section-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
  }

  .info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 26vh;
    background-color: $color-black; // Фон карточки
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    color: #fff;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    .icon {
      font-size: 2.5rem;
      color: $color-yellow;
      margin-bottom: 15px;
    }

    h3 {
      font-size: 1.2rem;
      color: #fff;
      margin-bottom: 10px;
    }

    p {
      font-size: 0.9rem;
      color: #bbb;
    }
  }
}

@media (max-width: 768px) {
  .why-choose-us-section {
    .section-title {
      text-align: center;
      font-size: 2rem;
    }

    .info-box {
      margin-bottom: 1rem;
    }
  }
}
