.about-section{
    padding: 150px 0;
    color: #ffffff;
    width: 100%;
    background-color: #121212;
    .about-container{
        max-width: 1400px;
        margin: auto;
    }
    .about-title{
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 40px;
    }
    .about-text{
        margin-top: 100px;
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 40px;
    }
    .about-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top:125px;
        .card{
            min-width: calc(28% - 15px);
            max-width: calc(28% - 15px);
            height: 150px;
            text-align: center;
            padding: 40px 30px;
            position: relative;
            .about-card-text{
                font-size: 1.3rem;
                display: flex;
                justify-content: center;
                flex-direction: column;
            }
        }
    }
    
}

@media (max-width: 1400px) {
    .about-container{
        max-width: 1200px !important;
        margin-right: 8% !important;
        margin-left: 8% !important;
        .about-cards{
            .card{
                min-width: calc(30% - 15px);
                max-width: calc(30% - 15px);
                .about-card-text{
                    font-size: 1.1rem;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }
            }
        }
    }
}

@media (max-width: 825px){
    .about-section{
        padding:150px 0px 50px 0px !important;
        .about-text{
            margin-top: 50px;
            font-size: 1rem;
        }
    }
    .about-cards{
        flex-direction: column !important;
        margin-top: 50px !important;
        .card{
            min-width: 100% !important;
            max-width: 100% !important;
            height: 100px !important;
            margin-bottom: 20px;
            text-align: center;
            justify-content: center;
        }
    }
} 