@import "_variables";

.article-page {
  margin-top: 100px !important;
  font-family: "Arial", sans-serif;
  line-height: 1.7;
  color: #ffffff;
  padding: 2rem;
  transition: box-shadow 0.3s;

  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
    color: $color-yellow !important;
  }
}

.card-container {
  .card {
    border: 1px solid $color-black;
    background-color: $color-black !important;
    h5,
    p {
      color: $color-text-light !important;
    }
  }
}

.dzen-link {
  font-size: 1.1rem;
  padding: 1rem;
  background-color: $color-black;
  border-left: 4px solid $color-yellow;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  font-weight: 500;

  .dzen-link-url {
    color: $color-yellow;
    font-weight: bold;
    text-decoration: none;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
      text-decoration: underline;
    }
  }
}

.list-group {
  .list-group-item {
    border: none;
    background-color: $color-dark;
    a {
      color: $color-text-light !important ;
    }
  }
}

// Секция оглавления
.article-toc {
  background-color: $color-black;
  padding: 1rem;
  border-left: 5px solid $color-yellow;
  margin-bottom: 2rem;
  border-radius: 5px;

  h3 {
    font-size: 1.4rem;
    color: #0d6efd;
  }

  .toc-list {
    padding-left: 1rem;
    list-style-type: decimal;

    .toc-link {
      font-size: 1rem;
      font-weight: 500;
      color: #0056b3;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: #003d82;
        text-decoration: underline;
      }
    }
  }
}

// Блок контента
.article-content {
  padding-bottom: 2rem;

  .content-blocks {
    p {
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }

    .alert {
      background-color: $color-black;
      border: none;
      color: $color-yellow !important;
    }

    .highlight {
      font-size: 1.3rem;
      font-weight: bold;
      color: #d9534f;
      margin-bottom: 1.5rem;
    }

    .info-block {
      background-color: $color-black;
      padding: 1rem;
      border-left: 4px solid #0d6efd;
      border-radius: 4px;
      font-style: italic;
      margin-bottom: 1rem;
    }

    .list-item {
      padding-left: 1rem;
      font-size: 1.1rem;
      list-style-type: "✔ ";
      color: #2ecc71;
      margin-bottom: 0.5rem;
    }
  }
}

// Галерея изображений
.article-images {
  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .card {
    border: none;
    max-height: 500px;
    background-color: $color-dark;
    p {
      color: $color-text-light !important;
    }
  }
}

// Секция тегов

// Медиа-запросы для адаптивности
@media (max-width: 768px) {
  .article-page {
    padding: 1rem;
  }

  .article-content p {
    font-size: 1rem;
  }

  .image-grid {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}
