// styles.module.scss
.container {
  max-width: 1200px;
  margin: 100px auto;
  padding: 2rem;
}

.header {
  text-align: center;
  margin-bottom: 2rem;

  h1 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 4px;
      background-color: #ffd700;
    }
  }
  p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #ffffff;
  }
}

.priceTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  thead {
    background-color: #000;
    color: #ffd700;

    th {
      padding: 1rem;
      text-align: left;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #e0e0e0;
      transition: background-color 0.3s;
      td {
        padding: 1rem;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 600;
        &:first-child {
          font-weight: 500;
        }

        &:last-child {
          color: #ffffff;
          font-weight: 600;
        }
      }
      &:hover {
        background-color: #333;
      }
    }
  }
}

// Адаптивность
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .priceTable {
    display: block;
    overflow-x: auto;

    thead th {
      padding: 0.75rem;
      font-size: 0.9rem;
    }

    tbody td {
      padding: 0.75rem;
      font-size: 0.9rem;
    }
  }
}
